<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-customer-organization-link-heading">Create or edit a Customer Organization Link</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationId">Organisation Id</label>
                    <input type="text" class="form-control" name="organisationId" id="field_organisationId"
                           formControlName="organisationId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationName" ngbTooltip="the organisation identifier">Organisation Name</label>
                    <input type="text" class="form-control" name="organisationName" id="field_organisationName"
                           formControlName="organisationName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organisationRegisterDate" ngbTooltip="the organisation name">Organisation Register Date</label>
                    <div class="input-group">
                        <input id="field_organisationRegisterDate" type="text" class="form-control" name="organisationRegisterDate" ngbDatepicker #organisationRegisterDateDp="ngbDatepicker" formControlName="organisationRegisterDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="organisationRegisterDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_customerId" ngbTooltip="the organisation register date">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                           formControlName="customerId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_customerName" ngbTooltip="the customer identifier">Customer Name</label>
                    <input type="text" class="form-control" name="customerName" id="field_customerName"
                           formControlName="customerName"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
