<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-price-heading">Create or edit a Price</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stripeId" ngbTooltip="the Price identifier">Stripe Id</label>
                    <input type="text" class="form-control" name="stripeId" id="field_stripeId"
                           formControlName="stripeId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nickname" ngbTooltip="the Price nickname">Nickname</label>
                    <input type="text" class="form-control" name="nickname" id="field_nickname"
                           formControlName="nickname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productId" ngbTooltip="the Price product identifier">Product Id</label>
                    <input type="text" class="form-control" name="productId" id="field_productId"
                           formControlName="productId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <select class="form-control" id="field_price" name="price" formControlName="price">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stripeSubscriptionOption.id === editForm.get('price')!.value?.id ? editForm.get('price')!.value : stripeSubscriptionOption" *ngFor="let stripeSubscriptionOption of stripesubscriptions; trackBy: trackById">{{ stripeSubscriptionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
