<div>
    <h2 id="page-heading">
        <span>Product Rate Plan Price Links</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-rate-plan-price-link" [routerLink]="['/product-rate-plan-price-link/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Rate Plan Price Link
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productRatePlanPriceLinks?.length === 0">
        <span>No productRatePlanPriceLinks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productRatePlanPriceLinks && productRatePlanPriceLinks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Stripe Abo Id</span></th>
                    <th scope="col" ><span>Stripe Abo Nick Name</span></th>
                    <th scope="col" ><span>Stripe Conso Id</span></th>
                    <th scope="col" ><span>Stripe Conso Nick Name</span></th>
                    <th scope="col" ><span>Product Id</span></th>
                    <th scope="col" ><span>Product Name</span></th>
                    <th scope="col" ><span>Product Rate Plan Id</span></th>
                    <th scope="col" ><span>Product Rate Plan Name</span></th>
                    <th scope="col" ><span>Migrate At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productRatePlanPriceLink of productRatePlanPriceLinks ;trackBy: trackId">
                    <td><a [routerLink]="['/product-rate-plan-price-link', productRatePlanPriceLink.id, 'view']">{{ productRatePlanPriceLink.id }}</a></td>
                    <td>{{ productRatePlanPriceLink.stripeAboId }}</td>
                    <td>{{ productRatePlanPriceLink.stripeAboNickName }}</td>
                    <td>{{ productRatePlanPriceLink.stripeConsoId }}</td>
                    <td>{{ productRatePlanPriceLink.stripeConsoNickName }}</td>
                    <td>{{ productRatePlanPriceLink.productId }}</td>
                    <td>{{ productRatePlanPriceLink.productName }}</td>
                    <td>{{ productRatePlanPriceLink.productRatePlanId }}</td>
                    <td>{{ productRatePlanPriceLink.productRatePlanName }}</td>
                    <td>{{ productRatePlanPriceLink.migrateAt | date:'mediumDate' }}</td>
                    <td>{{ productRatePlanPriceLink.updatedAt | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-rate-plan-price-link', productRatePlanPriceLink.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-rate-plan-price-link', productRatePlanPriceLink.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productRatePlanPriceLink)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
