<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billingStripeLink">
            <h2><span>Billing Stripe Link</span> {{ billingStripeLink.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="the stripe customer identifier">Stripe Id</span></dt>
                <dd>
                    <span>{{ billingStripeLink.stripeId }}</span>
                </dd>
                <dt><span ngbTooltip="the stripe email of the customer">Stripe Email</span></dt>
                <dd>
                    <span>{{ billingStripeLink.stripeEmail }}</span>
                </dd>
                <dt><span ngbTooltip="the billing customer identifier">Customer Id</span></dt>
                <dd>
                    <span>{{ billingStripeLink.customerId }}</span>
                </dd>
                <dt><span ngbTooltip="the billing name of the customer">Customer Name</span></dt>
                <dd>
                    <span>{{ billingStripeLink.customerName }}</span>
                </dd>
                <dt><span ngbTooltip="migration date to stripe">Migrate At</span></dt>
                <dd>
                    <span>{{ billingStripeLink.migrateAt }}</span>
                </dd>
                <dt><span ngbTooltip="migration update Date">Updated At</span></dt>
                <dd>
                    <span>{{ billingStripeLink.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-stripe-link', billingStripeLink.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
