<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-uniproxy-conso-heading">Create or edit a Uniproxy Conso</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subscriptionId">Subscription Id</label>
                    <input type="text" class="form-control" name="subscriptionId" id="field_subscriptionId"
                           formControlName="subscriptionId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orgId">Org Id</label>
                    <input type="text" class="form-control" name="orgId" id="field_orgId"
                           formControlName="orgId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_month">Month</label>
                    <input type="number" class="form-control" name="month" id="field_month"
                           formControlName="month"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="SIGNATURE">SIGNATURE</option>
                        <option value="SERVER">SERVER</option>
                        <option value="TIMESTAMP">TIMESTAMP</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_conso">Conso</label>
                    <input type="number" class="form-control" name="conso" id="field_conso"
                           formControlName="conso"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
